@import url(./bootstrap.min.css);
@import url(./swiper-bundle.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;500;700&display=swap');
// Color Pallete
$white: #FFFFFF;
$offWhite: #F9F9F9;
$red:#BA0C2F;
$blue: #002F6C;
$blue-light:#002F6C1A;
$gray-dark:#3C3C3C;
$gray:#A6A6A6;
$gray-medium:#CBCBCB;
$beige: #D2B885;
// $black:#000000;
$black:#1D1D1D;
/* Transition */
$transitionFast: all 0.3s ease-in-out;
$transitionSlow: all 0.6s ease-in-out;
/* Font Family */
$fontBody:'Roboto',
sans-serif;
$fontTitle:'Lora',
serif;
/* Direction En */
$start: left;
$end: right;

// Colors
.color-blue {
    color: $blue;
}

.color-red {
    color: $red;
}

.color-white {
    color: $white;
}

.color-gray-dark {
    color: $gray-dark;
}

.color-gray {
    color: $gray;
}

html,
body {
    scroll-behavior: auto !important;
    overflow-x: hidden;

}

body {
    font-family: $fontBody;
    font-weight: 400;
    background-color: $offWhite;

    @media (min-width: 1600px) {
        font-size: 18px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 16px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 14px;
    }


    @media (max-width: 575.98px) {
        font-size: 12px;
    }

    .navbar {
        .navbar-collapse {
            @media (max-width: 991.98px) {
                opacity: 0;
                pointer-events: none;
            }

        }

        .navbar-toggler {
            .icon-close {
                display: none;
            }

            .icon-open {
                display: block;
            }
        }
    }

    &.open-menu {
        .navbar {
            .navbar-collapse {
                @media (max-width: 991.98px) {
                    opacity: 1;
                    pointer-events: all;
                }

            }

            .navbar-toggler {
                .icon-open {
                    display: none;
                }

                .icon-close {
                    display: block;
                }
            }
        }
    }
}

/*** Fonts ***/

.font-title {
    font-family: $fontTitle;
}



/*** Buttons ***/
button,
input,
optgroup,
select,
textarea {
    outline: none;
    box-shadow: none !important;
}

.btn_main {
    color: $white;
    border: none;
    border-radius: 10px;
    padding: 0.45rem 2rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    transition: $transitionFast;
    @extend .font-title;

    &.red {
        background-color: $red;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &.blue {
        background-color: $blue;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}


.btn_arrow {
    border: none;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
    transition: $transitionFast;
    @extend .small-description;

    i {
        transition: $transitionFast;
        font-size: 22px;
        margin-#{$start}: 0.15rem;
        color: $red;
    }

    &.red {
        color: $red;

        &:hover {
            color: $blue;

            i {
                color: $blue;
                margin-#{$start}: 0.5rem;
            }
        }
    }
}

/*** Container ***/
.container-layout {
    width: 92%;
    margin: auto;

    @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 15px;
    }
}

.container-start {
    width: 96%;
    margin-#{$start}: auto;

    @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 15px;
    }
}


.container-samll {
    width: 60%;
    margin: auto;

    @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 15px;
    }
}



.my-section {
    margin-top: 70px;
    margin-bottom: 70px;

    @media (max-width: 991.98px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/*** Titles ***/
.main-title {
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: 1600px) {
        font-size: 70px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 60px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 45px;
    }


    @media (max-width: 575.98px) {
        font-size: 30px;
    }
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: 1600px) {
        font-size: 40px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 35px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 26px;
    }


    @media (max-width: 575.98px) {
        font-size: 22px;
    }
}

.medium-title {
    font-weight: 500;

    @media (min-width: 1600px) {
        font-size: 28px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 26px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 22px;
    }


    @media (max-width: 575.98px) {
        font-size: 20px;
    }
}

.small-title {
    font-weight: 700;

    @media (min-width: 1600px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 20px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 16px;
    }


    @media (max-width: 575.98px) {
        font-size: 14px;
    }
}



.title-two-lines {
    @media (min-width: 1600px) {
        width: 50%;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        width: 60%;

    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        width: 45%;
    }


    @media (max-width: 575.98px) {
        width: 70%;
    }
}

.small-description {
    @media (min-width: 1600px) {
        font-size: 15px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 13px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 12px;
    }


    @media (max-width: 575.98px) {
        font-size: 10px;
    }

}

.font-bold {
    font-weight: 700;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &.position-absolute {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.hvr-img-wrap {
    .hvr-img {
        transition: $transitionSlow;
        transform: scale3d(1, 1, 1);
    }

    &:hover {
        .hvr-img {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}

.border_radius {
    border-radius: 20px;
    overflow: hidden;
}

.border_radius_sm {
    border-radius: 10px;
    overflow: hidden;
}

.border_radius_start {
    border-top-#{$start}-radius: 20px;
    border-bottom-#{$start}-radius: 20px;
    overflow: hidden;

    @media (max-width: 575.98px) {
        border-radius: 20px;
    }
}

.overlay {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        pointer-events: none;
        z-index: -1;
    }
}

/*** NavBar ***/
.navbar {
    &.navbar-fixed {
        background-color: $offWhite;
    }

    .navbar-brand {
        max-width: 140px;
    }

    .navbar-nav {
        @media (min-width: 992px) {
            border-bottom: 2px solid $blue-light;
        }

        .nav-item {
            &:first-child {
                .nav-link {
                    padding-#{$start}: 0px;

                    &::after {
                        #{$start}: 0;
                        transform: none;
                        width: calc(100% - 0.5rem);
                    }
                }
            }

            &:last-child {
                .nav-link {
                    padding-#{$end}: 0px;

                    &::after {
                        #{$start}: auto;
                        #{$end}: 0;
                        transform: none;
                        width: calc(100% - 0.5rem);
                    }
                }
            }

            .nav-link {
                color: $blue;
                position: relative;
                transition: $transitionFast;
                font-size: 14px;

                @media (max-width: 991.98px) {
                    text-align: center;
                }



                &:hover {
                    color: $red;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -2px;
                    height: 2px;
                    width: calc(100% - 1rem);
                    background-color: $red;
                    opacity: 0;
                    pointer-events: none;
                }

                &.active {
                    color: $red;
                    font-weight: 700;

                    &::after {
                        opacity: 1;

                        @media (max-width: 991.98px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .navbar-collapse {
        @media (max-width: 991.98px) {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background-color: $white;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            z-index: -1;
            transition: $transitionFast;
        }

    }

    .navbar-toggler {
        .bi {
            color: $blue;
            font-size: 30px;
        }
    }

    .container-search-box {

        @media (min-width: 992px) {
            width: 80px;

        }

        .search-box {

            background: $offWhite;
            color: $blue;
            height: 40px;

            @media (min-width: 992px) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                #{$end}: 0;

            }

            .search-btn {
                color: $blue;
                width: 40px;
                height: 40px;
                background: transparent;
                border: none;
                text-decoration: none;
                transition: $transitionSlow;
                padding-#{$end}: 65px;
                padding-#{$start}: 0;

                .text-search {
                    transition: $transitionFast;
                    opacity: 1;
                    position: absolute;
                    #{$end}: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }

            .search-txt {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                color: $blue;
                transition: $transitionSlow;
                line-height: 40px;
                width: 0px;
                border-bottom: 2px solid $blue-light;
                border-radius: 0;
            }

            @media (min-width: 992px) {
                &:hover {
                    .search-txt {
                        width: 200px;
                        padding: 0 6px;
                    }

                    .search-btn {
                        padding-#{$end}: 0px;
                        background-color: $blue;
                        color: $white;

                        .text-search {
                            opacity: 0;
                            transform: translate(-10%, -50%);
                        }
                    }
                }

            }

            @media (max-width: 991.98px) {
                .search-txt {
                    width: 200px;
                    padding: 0 6px;
                }

                .search-btn {
                    padding-#{$end}: 0px;
                    background-color: $blue;
                    color: $white;

                    .text-search {
                        opacity: 0;
                        transform: translate(-10%, -50%);
                    }
                }
            }
        }

    }

    .change-lang {
        text-decoration: none;
        color: $blue;
        transition: $transitionFast;
        font-size: 14px;

        &:hover {
            color: $red;
        }
    }


}

/*** Hero ***/
.hero {
    height: 100vh;
    overflow: hidden;

    .hero-swiper {
        .swiper-slide {
            .swiper-img {
                position: absolute;
                top: 0;
                bottom: 0;
                #{$start}: 0;
                #{$end}: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    #{$start}: 0;
                    #{$end}: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                }
            }

            .main-title,
            .description,
            .btn_main {
                transition: all 0.8s ease-in-out;
                opacity: 0;
            }

            .main-title {
                transform: translate3d(-50px, 0, 0);
            }

            .description {
                transform: translate3d(0, -10px, 0);
            }

            .btn_main {
                transform: translate3d(0, 50%, 0);
            }

            &.swiper-slide-active {

                .main-title,
                .description,
                .btn_main {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }

                .main-title {
                    transition-delay: 0s;
                }

                .description {
                    transition-delay: 0.3s;
                }

                .btn_main {
                    transition-delay: 0.5s;
                }
            }
        }

        .custom-controls {
            position: absolute;
            bottom: 0;
            #{$end}: 2.5%;
            width: 95%;

            .scroll-down {
                color: $white;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: relative;
                top: auto;
                bottom: 0;
                color: $white;
                #{$end}: 0;
                #{$start}: 0;
                margin-top: 0;

                &::after {
                    font-size: 22px;
                    font-weight: 700;
                }
            }

            .swiper-pagination {
                position: relative;
                width: auto;
                bottom: 0;
                color: $white;

                .line {
                    display: inline-block;
                    width: 65px;
                    height: 2px;
                    background-color: rgba($color: $white, $alpha: 0.4);
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        #{$start}: 0%;
                        width: 100%;
                        top: 0%;
                        height: 2px;
                        background-color: $white;
                        animation: SwiperPaginationAnimation 1.3s ease-in-out infinite forwards;
                    }

                    @keyframes SwiperPaginationAnimation {
                        0% {
                            transform: translate3d(-100%, 0, 0);
                        }

                        100% {
                            transform: translate3d(100%, 0, 0);
                        }
                    }
                }
            }
        }
    }

    .social-media {
        position: absolute;
        #{$end}: 2.5%;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 575.98px) {
            #{$end}: 3.5%;
        }

        .icon {
            color: $white;
            transition: $transitionFast;
            display: block;

            &:hover {
                transform: scale3d(1.2, 1.2, 1.2);
            }
        }
    }
}

/*** OUR GOALS ***/
.our-goals {
    .card-our-goals {
        box-shadow: 0px 5px 20px #002F6C1A;

        @media (min-width: 1200px) {
            min-height: 70vh;
        }



        @media (min-width: 576px) and (max-width: 1199.98px) {
            min-height: 45vh;
        }


        @media (max-width: 575.98px) {
            min-height: 50vh;
        }

        .bg-img {
            transition: $transitionSlow;
            transform: scale3d(1, 1, 1);
        }

        .icon {
            max-width: 55px;
        }

        &:hover {
            .bg-img {
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}

/*** TECHNICAL APPROACH ***/
.technical-approach {
    .card-technical-approach {
        box-shadow: 0px 5px 20px #002F6C1A;

        @media (min-width: 1200px) {
            min-height: 60vh;
        }

        @media (min-width: 576px) and (max-width: 1199.98px) {
            min-height: 45vh;
        }


        @media (max-width: 575.98px) {
            min-height: 35vh;
        }

        @extend .overlay;

        &::after {
            background: transparent linear-gradient(96deg, $red 0%, $blue 100%) 0% 0% no-repeat padding-box;
            opacity: 0.6;
        }

        .bg-img {
            transition: $transitionSlow;
            transform: scale3d(1, 1, 1);
        }

        &:hover {
            .bg-img {
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}

/*** LATEST NEWS ***/
.last-news {
    background-color: $white;

    .start-side {
        .img-wrap {
            height: 320px;
            overflow: hidden;

            @media (max-width: 575.98px) {
                height: 200px;
            }
        }

        p {
            margin-bottom: 0.2rem;
        }
    }

    .end-side {
        .img-wrap {
            height: 150px;
            overflow: hidden;

            @media (max-width: 575.98px) {
                height: 200px;
            }
        }

        p {
            margin-bottom: 0.2rem;
        }
    }

}

/***  GEOGRAPHIC SCOPE ***/
.geographic-scope {
    .list-geographic-scope {
        ul {
            list-style: none;

            li {
                color: $blue;
                text-decoration: underline;
                text-transform: capitalize;
                @extend .medium-title;
            }
        }
    }
}

/*** PARTNERS ***/
.partners {
    .partners-video {

        position: relative;

        @media (min-width: 576px) {
            height: 400px;
        }

        @media (max-width: 575.98px) {
            height: 205px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $blue, $alpha: 0.6);
        }

        .info {
            position: relative;
            z-index: 1;

            i {
                @extend .main-title;
                color: $white;
            }
        }
    }

    .partner-logo {
        width: 190px;
        height: 110px;
        background-color: $white;
    }
}

/*** Video Modal ***/
.media-videos {
    cursor: pointer;
}

.videoModal {
    .modal-header {
        border: none;

        .btn-close {
            filter: brightness(0) invert(1);
            opacity: 1;
        }
    }

    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 80vw;
        }
    }

    .modal-content {
        background: transparent;
        border: none;
        border-radius: 0;

        .modal-body {
            @media (min-width: 576px) {
                max-width: 80vw;
                height: 80vh;
            }

            @media (max-width: 575.98px) {
                height: 40vh;
            }
        }
    }

}

/*** ELECTRONIC LITIGATION ***/
.electronic-litigation {
    .img-wrap {
        @media (min-width: 576px) {
            height: 400px;
        }

        @media (max-width: 575.98px) {
            height: 40vh;
        }
    }
}


/*** Counter ***/
.counter {
    background: transparent linear-gradient(96deg, #002F6C 0%, #BA0C2F 100%) 0% 0% no-repeat padding-box;

    .count {
        .number {
            @extend .section-title;
        }
    }
}

/*** Footer ***/

.footer {
    background-color: $blue;

    .list {
        column-count: 3;

        @media (max-width: 575.98px) {
            column-count: 2;
        }

        .item {
            .link {
                text-decoration: none;
                color: $white;
                margin-bottom: 0.75rem;
                display: inline-block;
                transition: $transitionFast;

                &:hover {
                    text-shadow: 0px 0px 1px $white;
                    text-decoration: underline;
                }
            }
        }
    }

    .social-media {
        .icon {
            color: $white;
            transition: $transitionFast;
            display: inline-block;

            &:hover {
                color: $white;
                transform: scale3d(1.2, 1.2, 1.2);
            }
        }
    }

    .footr-bottom {
        border-top: 1px solid $white;

        .copyright {
            color: rgba($color: $white, $alpha: 0.4);
        }
    }
}

/*** ABOUT US ***/
.about-us {
    position: relative;

    .img-about-us {
        @media (min-width: 1200px) {
            height: 84vh;
        }

        @media (min-width: 768px) and (max-width: 1199.98px) {
            height: 50vh;
        }

        @media (max-width: 767.98px) {
            height: 250px;
        }

    }

    .scroll-down {
        cursor: pointer;

        @media (min-width: 992px) {
            position: absolute;
            #{$start}: -2%;
            bottom: 0;
        }

    }
}

/*** OUR VISION ***/
.our-vision {
    @media (min-width: 992px) {
        padding: {
            top: 3rem;
            bottom: 3rem;
        }
    }

    .img-our-vision {
        @media (min-width: 1200px) {
            height: 75vh;

        }

        @media (min-width: 992px) {
            margin-bottom: -3rem;
        }

        @media (min-width: 768px) and (max-width: 1199.98px) {
            height: 50vh;
        }



        @media (max-width: 767.98px) {
            height: 250px;
        }
    }

    .info {
        position: relative;

        @media (min-width: 992px) {
            background-color: $blue;
            margin-top: -3rem;
        }

        &::before {
            content: '';
            position: absolute;
            #{$start}: -20%;
            background-color: $blue;
            height: 100%;
            width: 20%;
            z-index: -1;
            @extend .border_radius_start;

            @media (max-width: 991.98px) {
                display: none;
            }

        }

        .mobile-info {
            @media (max-width: 991.98px) {
                background-color: $blue;
                border-radius: 20px;
            }
        }
    }
}

/*** OUR MISSION ***/
.our-mission {
    @media (min-width: 992px) {
        padding: {
            top: 3rem;
            bottom: 3rem;
        }
    }

    .img-our-mission {
        @media (min-width: 1200px) {
            height: 75vh;

        }

        @media (min-width: 992px) {
            margin-bottom: -3rem;
        }

        @media (min-width: 768px) and (max-width: 1199.98px) {
            height: 50vh;
        }



        @media (max-width: 767.98px) {
            height: 250px;
        }
    }

    .info {
        position: relative;

        @media (min-width: 992px) {
            background-color: $red;
            margin-top: -3rem;
        }

        &::before {
            content: '';
            position: absolute;
            #{$start}: -20%;
            background-color: $red;
            height: 100%;
            width: 20%;
            z-index: -1;
            @extend .border_radius_start;

            @media (max-width: 991.98px) {
                display: none;
            }

        }

        .mobile-info {
            @media (max-width: 991.98px) {
                background-color: $red;
                border-radius: 20px;
            }
        }
    }
}


/*** STRATEGY ***/
.strategy {
    background-color: $blue;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2rem;
        background-color: $offWhite;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;

    }

    .strategy-swiper {
        .img-swiper {
            @media (min-width: 1200px) {
                height: 55vh;
            }

            @media (min-width: 768px) and (max-width: 1199.98px) {
                height: 35vh;
            }

            @media (max-width: 767.98px) {
                height: 250px;
            }
        }

        .swiper-slide {
            .details {
                margin-bottom: 6rem;
            }

        }

        .swiper-controller {
            position: absolute;
            left: 0;
            right: 0;
            @media (min-width: 1200px) {
                bottom: calc(55vh + 1rem);
            }

            @media (min-width: 768px) and (max-width: 1199.98px) {
                bottom: calc(35vh + 1rem);
            }

            @media (max-width: 767.98px) {
                bottom: calc(250px + 1rem);

            }

            
        }
    }
}

/*** Swiper Controller ***/

.swiper-controller {
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        position: relative;
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin-top: 0;

        &::after {
            display: none;
        }
    }

    .swiper-pagination {
        bottom: 1px;
        .swiper-pagination-bullet {
            border-radius: 0;
        }
    }

    &.white {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background: $white;
            }
        }
    }

    &.red {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background: $red;
            }
        }
    }
}

/*** VALUES ***/

.values-swiper {
    .swiper-slide {
        .card-values-swiper {
            height: 400px;
            position: relative;
            @media (max-width: 767.98px) {
                height: 250px;

            }
            .img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
    }
}